.three{
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    color: beige;
}
.terk{
    
    height: 300px;
    background-image: url("pexels-secret-garden-931177.jpg"); background-size:contain;background-repeat:unset;
    text-align: center; color: orange;
    
    
    
}